In [36]:
import importlib
import pandas as pd
import matplotlib.pyplot as plt
#custom packages
import drawChart as dc
import reportTools as report

# Python Project
**Authors** <br>
    *Michał Sasuła* <br>
    *Olga Zięba* <br>
    *Sandra Mikołajek* <br>
    *Wioleta Krajewska*

## Thema nr 4:
Kim jesteśmy i dokąd zmierzamy (zawodowo)?
* [wyniki ankiety pracowniczej](https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset) - opracowywane dane
* Cel Statystyczny: Analiza najciekawszych zawodów pod względem
zadowolenia, poziomu zarobków oraz wymaganego poziomu edukacji.
* Cel Python: Aplikacja służąca do wyznaczenia poziomu na jakim się
znajdujemy oraz wskazania co możemy poprawić abyśmy dostali lepszą
pracę.

In [3]:
data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
# dodano dodatkową kolumnę pomocniczą celem łatwiejszej agregacji danych
data['years_at_company_indicator'] = data['YearsAtCompany'].apply(lambda x: x if x<=20 else 21)

### Basic info

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         1470 non-null   int64
 1   Attrition                   1470 non-null   object
 2   BusinessTravel              1470 non-null   object
 3   DailyRate                   1470 non-null   int64
 4   Department                  1470 non-null   object
 5   DistanceFromHome            1470 non-null   int64
 6   Education                   1470 non-null   int64
 7   EducationField              1470 non-null   object
 8   EmployeeCount               1470 non-null   int64
 9   EmployeeNumber              1470 non-null   int64
 10  EnvironmentSatisfaction     1470 non-null   int64
 11  Gender                      1470 non-null   object
 12  HourlyRate                  1470 non-null   int64
 13  JobInvolvement              1470 non-null   int64
 14  JobLevel                    1470 non-null   int64
 15  JobRole                     1470 non-null   object
 16  JobSatisfaction             1470 non-null   int64
 17  MaritalStatus               1470 non-null   object
 18  MonthlyIncome               1470 non-null   int64
 19  MonthlyRate                 1470 non-null   int64
 20  NumCompaniesWorked          1470 non-null   int64
 21  Over18                      1470 non-null   object
 22  OverTime                    1470 non-null   object
 23  PercentSalaryHike           1470 non-null   int64
 24  PerformanceRating           1470 non-null   int64
 25  RelationshipSatisfaction    1470 non-null   int64
 26  StandardHours               1470 non-null   int64
 27  StockOptionLevel            1470 non-null   int64
 28  TotalWorkingYears           1470 non-null   int64
 29  TrainingTimesLastYear       1470 non-null   int64
 30  WorkLifeBalance             1470 non-null   int64
 31  YearsAtCompany              1470 non-null   int64
 32  YearsInCurrentRole          1470 non-null   int64
 33  YearsSinceLastPromotion     1470 non-null   int64
 34  YearsWithCurrManager        1470 non-null   int64
 35  years_at_company_indicator  1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

In [11]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,years_at_company_indicator
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129,6.796599
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136,5.424661
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,3.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,5.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000,9.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000,21.000000

In [12]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         1470 non-null   int64
 1   Attrition                   1470 non-null   object
 2   BusinessTravel              1470 non-null   object
 3   DailyRate                   1470 non-null   int64
 4   Department                  1470 non-null   object
 5   DistanceFromHome            1470 non-null   int64
 6   Education                   1470 non-null   int64
 7   EducationField              1470 non-null   object
 8   EmployeeCount               1470 non-null   int64
 9   EmployeeNumber              1470 non-null   int64
 10  EnvironmentSatisfaction     1470 non-null   int64
 11  Gender                      1470 non-null   object
 12  HourlyRate                  1470 non-null   int64
 13  JobInvolvement              1470 non-null   int64
 14  JobLevel                    1470 non-null   int64
 15  JobRole                     1470 non-null   object
 16  JobSatisfaction             1470 non-null   int64
 17  MaritalStatus               1470 non-null   object
 18  MonthlyIncome               1470 non-null   int64
 19  MonthlyRate                 1470 non-null   int64
 20  NumCompaniesWorked          1470 non-null   int64
 21  Over18                      1470 non-null   object
 22  OverTime                    1470 non-null   object
 23  PercentSalaryHike           1470 non-null   int64
 24  PerformanceRating           1470 non-null   int64
 25  RelationshipSatisfaction    1470 non-null   int64
 26  StandardHours               1470 non-null   int64
 27  StockOptionLevel            1470 non-null   int64
 28  TotalWorkingYears           1470 non-null   int64
 29  TrainingTimesLastYear       1470 non-null   int64
 30  WorkLifeBalance             1470 non-null   int64
 31  YearsAtCompany              1470 non-null   int64
 32  YearsInCurrentRole          1470 non-null   int64
 33  YearsSinceLastPromotion     1470 non-null   int64
 34  YearsWithCurrManager        1470 non-null   int64
 35  years_at_company_indicator  1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

### Report Section

In [76]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,years_at_company_indicator
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,6
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,10
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,8
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,5
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,6
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,9
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,4

In [47]:
slider_monthly_income = widgets.IntSlider(
#     value=10000,
    min=0,
    max=30000,
    step=1000,
    description='Miesięczne zarobki:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

In [69]:
output = widgets.Output()
dropdown_dpt = widgets.Dropdown(options = data.Department.unique(), description = 'Department: ')
dropdown_jr = widgets.Dropdown(options = data.JobRole.unique(), description = 'Job Role: ')
dropdown_jl = widgets.Dropdown(options = data.JobLevel.unique(), description = 'Job Level: ')
slider_monthly_income = widgets.IntSlider(
    value=10000,
    min=0,
    max=20000,
    step=100,
    description='Monthly Income:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)
# filtered = pd.DataFrame()
output = widgets.Output()
def common_filtering(dpt, jr):
#     global filtered
    output.clear_output()
    print(slider_monthly_income.value)
    filtered = data[(data.Department == dropdown_dpt.value) & (data.JobRole == dropdown_jr.value) & (data.JobLevel == dropdown_jl.value) & (dane['MonthlyIncome'] > slider_monthly_income.value)]
    with output:
        report.prepareReport(filtered, dropdown_dpt.value, dropdown_jr.value, dropdown_jl.value, slider_monthly_income.value)
def dropdown_dpt_eventhandler(change):
    common_filtering(change.new, dropdown_dpt.value)
def dropdown_jr_eventhandler(change):
    common_filtering(change.new, dropdown_jr.value)
def dropdown_jl_eventhandler(change):
    common_filtering(change.new, dropdown_jl.value)
def slider_monthly_income_eventhandler(change):
    common_filtering(change.new, slider_monthly_income.value)
dropdown_dpt.observe(dropdown_dpt_eventhandler, names='value')
dropdown_jr.observe(dropdown_jr_eventhandler, names='value')
dropdown_jl.observe(dropdown_jl_eventhandler, names='value')
slider_monthly_income.observe(slider_monthly_income_eventhandler, names='value')
input_widgets = widgets.VBox([slider_monthly_income, dropdown_dpt, dropdown_jr, dropdown_jl])
display(input_widgets)
display(output)

VBox(children=(IntSlider(value=10000, continuous_update=False, description='Monthly Income:', max=20000, step=…

Output()

_____________________________

#### For Department = Human Resources

In [ ]:
import drawChart as dc
importlib.reload(dc)

hr_data = dc.drawGroupByAndCount(data, ['Department','JobRole', 'JobLevel'], ['Sales'])
hr_data

In [ ]:
importlib.reload(dc)
dc.drawFeatureOverTime(data, 'years_at_company_indicator', 'EnvironmentSatisfaction')

In [ ]:
importlib.reload(rt)
filtered_data = rt.getByDepartmentJobRoleLevelAndMonthlyIncome(data, 'Sales', "Manager", 3, 1000)

In [ ]:
filtered_data

In [ ]:
dc.drawHistogramWithYourPosition(filtered_data, 'MonthlyIncome')

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import ipywidgets as widgets
from IPython.display import display
import matplotlib.pyplot as plt
import numpy as np
import math

In [4]:
dane = data

In [6]:
dane.JobLevel.unique()

array([2, 1, 3, 4, 5], dtype=int64)

In [28]:
output = widgets.Output()
dropdown_dpt = widgets.Dropdown(options = dane.Department.unique(), description = 'Department: ')
dropdown_jr = widgets.Dropdown(options = dane.JobRole.unique(), description = 'Job Role: ')
dropdown_jl = widgets.Dropdown(options = ('1','2','3','4','5'), description = 'Job Level: ')
def ff():
#     print('Enter your monthly in come:')
#     x = float(input())
    return 1000
def dropdown_dpt_eventhandler(change):
    filter(change.new, dropdown_dpt.value)
def dropdown_jr_eventhandler(change):
    filter(change.new, dropdown_jr.value)
def dropdown_jl_eventhandler(change):
    filter(change.new, dropdown_jl.value)
dropdown_dpt.observe(dropdown_dpt_eventhandler, names='value')
dropdown_jr.observe(dropdown_jr_eventhandler, names='value')
dropdown_jl.observe(dropdown_jl_eventhandler, names='value')
input_widgets = widgets.HBox([dropdown_dpt, dropdown_jr, dropdown_jl])
display(input_widgets)
department = ('Sales', ' Research & Development', 'Human Resources')
job_role = ('Sales Executive', 'Research Scientist', 'Laboratory Technician', 'Manufacturing Director',
'Healthcare Representative', 'Manager', 'Sales Representative', 'Research Director', 'Human Resources')
job_level = ('1','2','3','4','5')
def filterfunctionbyinputanddropdowns(department, job_role, job_level, monthly_income):

    print(job_level.value)
    print(type(job_level.value))
    

    return dane[(dane['Department'] == department.value) & (dane['JobRole'] == job_role.value) & (dane['JobLevel'] == job_level.value) & (dane['MonthlyIncome'] > monthly_income)]
mask = filterfunctionbyinputanddropdowns(dropdown_dpt, dropdown_jr, dropdown_jl, ff())
print(mask)

HBox(children=(Dropdown(description='Department: ', options=('Sales', 'Research & Development', 'Human Resourc…

1
<class 'str'>
Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager, years_at_company_indicator]
Index: []

[0 rows x 36 columns]

In [ ]:
dane['MonthlyIncome' > ff()]