In [1]:
import pandas as pd
#custom packages
import reportTools as report

# Python Project
**Authors** <br>
    *Michał Sasuła* <br>
    *Olga Zięba* <br>
    *Sandra Mikołajek* <br>
    *Wioleta Krajewska*

## Temat nr 4:
Kim jesteśmy i dokąd zmierzamy (zawodowo)?
* [wyniki ankiety pracowniczej](https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset) - opracowywane dane
* Cel Statystyczny: Analiza najciekawszych zawodów pod względem
zadowolenia, poziomu zarobków oraz wymaganego poziomu edukacji.
* Cel Python: Aplikacja służąca do wyznaczenia poziomu na jakim się
znajdujemy oraz wskazania co możemy poprawić abyśmy dostali lepszą
pracę.

In [10]:
data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
# dodano dodatkową kolumnę pomocniczą celem łatwiejszej agregacji danych
data['years_at_company_indicator'] = data['YearsAtCompany'].apply(lambda x: x if x<=20 else 21)

# Report

In [6]:
report.prepare_widgets(data, report.prepareReport)

VBox(children=(Dropdown(description='Department: ', options=('Sales', 'Research & Development', 'Human Resourc…

Output()

In [17]:
data.groupby(['Education'])['Education'].count().idxmax()

3

In [5]:
data.groupby

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,years_at_company_indicator
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,6
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,10
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,8
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,5
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,6
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,9
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,4